apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "backend-rest.fullname" . }}
  labels:
    {{- include "backend-rest.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "backend-rest.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "backend-rest.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "backend-rest.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          # Environment variables passed to the container at runtime.
          env:
            - name: POSTGRES_DB                     # ENV variable in the container
              valueFrom:
                secretKeyRef:
                  name: application-pguser-admin    # The name of the secret to retrieve data from
                  key: dbname                       # The secrets key name to retrieve data from
            - name: POSTGRES_PASSWORD               # ENV variable in the container
              valueFrom:
                secretKeyRef:
                  name: application-pguser-admin    # The name of the secret to retrieve data from
                  key: password                     # The secrets key name to retrieve data from
            - name: POSTGRES_PORT                   # ENV variable in the container
              valueFrom:
                secretKeyRef:
                  name: application-pguser-admin    # The name of the secret to retrieve data from
                  key: port                         # The secrets key name to retrieve data from
            - name: POSTGRES_USER                   # ENV variable in the container
              valueFrom:
                secretKeyRef:
                  name: application-pguser-admin    # The name of the secret to retrieve data from
                  key: user                         # The secrets key name to retrieve data from
            - name: POSTGRES_HOST                   # ENV variable in the container
              valueFrom:
                secretKeyRef:
                  name: application-pguser-admin    # The name of the secret to retrieve data from
                  key: host                         # The secrets key name to retrieve data from
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
